body {background: #CCFFCC}

h1 {font-family:'Amatic SC', cursive;
	font-size: 100px;
	font-weight: bold;
	line-height: 1px; color:#339966;
	}

h1 {text-align: center;}

h2 {font-family:'Amatic SC', cursive; 
	font-size: 50px;
	text-align:left;
	line-height: 0}

ul {font-family: Arial; font-size: 20px;}

p {font-family: Arial; font-size: 20px;
   border-radius: 100px}

h2 {}
			